@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Inter";

  font-display: swap;
  src: url("../fonts/inter-400.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Inter";

  font-display: swap;
  src: url("../fonts/inter-700.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 900;
  font-family: "Inter";

  font-display: swap;
  src: url("../fonts/inter-900.woff2") format("woff2");
}

:root {
  /*basic colors*/
  --basic-extra-dark: #2D3440;
  --basic-dark: #565C66;
  --basic-neutral: #B9B9B9;
  --basic-light: #E7E7E7;
  --basic-extra-light: #FCFCFC;
  --basic-white: #ffffff;

  /*additional colors*/
  --additional-extra-bright: #FF2F64;
  --additional-bright: #FF4A78;
  --additional-neutral: #FF7799;
  --additional-light: #FEAFC3;
  --additional-extra-light: #FFCBD8;
  --additional-blue: #69A9FF;
  --additional-light-blue: #9FC8FF;
  --additional-yellow: #FCC850;
  --additional-light-yellow: #FCDC92;

  /*status colors*/
  --status-error: #ea5454;
  --status-warning: #fd912e;
  --status-success: #00e484;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  font-family: Inter, Arial, sans-serif;
  color: var(--basic-dark);
}

.page--pink {
  background-color: var(--additional-light);
}

.page--blue {
  background-color: var(--additional-blue);
}

.page--yellow {
  background-color: var(--additional-yellow);
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 12px 32px;

  font-weight: 700;
  font-size: inherit;
  line-height: 20px;
  font-family: inherit;
  vertical-align: middle;
  text-align: center;
  color: var(--basic-extra-dark);
  text-decoration: none;

  background-color: var(--basic-extra-light);
  border: none;
  border-radius: 50px;
  outline: 4px solid rgba(252, 252, 252, 0.40);
  outline-offset: 0;
  box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.10);
  cursor: pointer;

  transition: outline-color 0.1s ease-out, outline-width 0.1s ease-out, background-color 0.1s ease-out, box-shadow 0.1s ease-out;
}

.button:hover {
  background-color: rgba(252, 252, 252, 0.40);
  outline-color: var(--basic-extra-light);
  box-shadow: 0 4px 15px 0 rgba(133, 133, 133, 0.15);
}

.button:focus {
  background-color: rgba(252, 252, 252, 0.50);
  outline: 2px solid var(--basic-extra-dark);
  box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.10);
}

.button:active {
  background-color: var(--basic-extra-light);
  outline: 2px solid var(--basic-extra-dark);
  box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.10);
}

.button:disabled,
.button.disabled {
  font-weight: 400;
  color: var(--basic-neutral);

  background-color: var(--basic-light);
  outline: 4px solid rgba(252, 252, 252, 0.40);
  box-shadow: none;
  cursor: not-allowed;
}

.button--special {
  color: var(--basic-extra-light);

  background-color: var(--additional-extra-bright);
  outline: 4px solid rgba(255, 47, 100, 0.30);
}

.button--special:hover {
  color: var(--basic-extra-dark);

  background-color: rgba(252, 252, 252, 0.30);
  outline: 4px solid var(--additional-extra-bright);
}

.button--special:focus {
  background-color: var(--additional-extra-bright);
  outline: 2px solid var(--basic-extra-dark);
}

.button--special:active {
  background-color: var(--additional-extra-light);
  outline: 2px solid var(--basic-extra-dark);
}

.button--special:disabled,
.button--special.disabled {
  color: var(--basic-dark);

  background-color: var(--basic-neutral);
  outline: 4px solid rgba(185, 185, 185, 0.30);
}

.button--small {
  padding-top: 8px;
  padding-bottom: 8px;

  font-size: 14px;

  background-color: rgba(252, 252, 252, 0.30);
  outline: 2px solid var(--basic-extra-light);
  box-shadow: none;
}

.button--small:hover {
  background-color: var(--basic-extra-light);
  outline: 2px solid rgba(252, 252, 252, 0.30);
  box-shadow: none;
}

.button--small:focus {
  background-color: rgba(252, 252, 252, 0.30);
  outline: 2px solid var(--basic-extra-dark);
  box-shadow: none;
}

.button--small:active {
  background: rgba(252, 252, 252, 0.50);
  outline: none;
  box-shadow: none;
}

.button--small:disabled,
.button--small.disabled {
  background-color: rgba(252, 252, 252, 0.30);
  outline: 2px solid var(--basic-extra-light);
  opacity: 0.4;
}

.page__header {
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  width: 1170px;
  padding: 24px 0;
}

.header__logo {
  margin-right: 16px;
}

.logo {
  display: flex;
}

.logo[href]:hover {
  opacity: 0.6;
}

.logo[href]:focus {
  outline: 2px solid var(--basic-extra-dark);
  outline-offset: 2px;
}

.logo[href]:active {
  opacity: 0.3;
}



.header__site-navigation {
  margin-right: auto;
}

.site-navigation {
  display: flex;
  align-items: center;
}

.site-navigation__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 550px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-navigation__item {
  position: relative;

  color: var(--basic-extra-dark);
}

.site-navigation__link {
  position: relative;
  z-index: 2;

  display: inline-flex;
  align-items: center;
  padding: 8px 16px;

  color: inherit;
  text-decoration: none;
}

.site-navigation__link:focus-visible {
  outline: none;
}

.site-navigation__link--catalog::after {
  content: "";

  display: block;
  width: 16px;
  height: 16px;
  margin-left: 6px;

  background-image: url("../images/arrow-menu-black.svg");
  background-repeat: no-repeat;
  background-position: center;

  transition: transform 0.1s ease-out;
}

.submenu {
  display: none;
  width: 135px;
  padding: 8px 0;

  list-style: none;

  background-color: var(--basic-extra-light);
  border-radius: 4px;
}

.site-navigation__link--catalog:hover + .submenu,
.site-navigation__item:focus-within > .submenu,
.submenu:hover {
  display: block;
}

.submenu::before {
  content: "";
  position: absolute;
  top: -10px;
  right: 0;

  display: block;
  width: 100%;
  height: 14px;

  background-color: transparent;
}

.submenu__list {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;

  margin: 0;
  margin-top: 8px;
}

.submenu__item {
  position: relative;

  font-size: 14px;
  line-height: 20px;
  color: var(--basic-extra-dark);

  transition: background-color 0.1s ease-out;
}

.submenu__item--new-category {
  margin-bottom: 8px;

  font-weight: 700;
}

.submenu__item--new-category::after {
  content: "";
  position: absolute;
  bottom: -4px;

  display: block;
  width: 103px;
  height: 1px;

  background-color: var(--basic-neutral);
}

.submenu__item--current-page {
  color: var(--basic-extra-light);

  background-color: var(--additional-bright);

  pointer-events: none;
}

.submenu__link {
  display: block;
  padding: 6px 16px;
  padding-right: 12px;

  color: inherit;
  text-decoration: none;
}

.submenu__item:hover,
.submenu__item:focus-within {
  background-color: var(--additional-extra-light);
}

.submenu__link:focus-visible {
  outline: none;
}

.submenu__item:active {
  background-color: var(--additional-neutral);
}

.header__phone {
  margin: 0 8px;
}

.phone {
  display: inline-block;
  padding: 8px 10px;

  font-weight: 700;
  line-height: 20px;
  color: var(--basic-extra-dark);
  text-decoration: none;
}

.header__wrap {
  position: relative;
}

.header__search {
  position: relative;
  z-index: 2;

  margin-right: 16px;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;

  background-color: rgba(252, 252, 252, 0.30);
}

.search::after {
  content: "";

  display: block;
  width: 16px;
  height: 16px;

  background-image: url("../images/search-black.svg");
}

.header__search-form {
  position: absolute;
  top: 100%;
  right: 16px;
  z-index: 1;

  margin-top: 8px;
}

.search-form {
  display: none;
  padding: 24px 16px;

  background-color: var(--basic-extra-light);
  border-radius: 4px;
  box-shadow: 0 8px 16px 0 rgba(45, 52, 64, 0.12);
}

.search-form::before {
  content: "";
  position: absolute;
  top: -22px;
  right: 0;

  display: block;
  width: 100%;
  height: 26px;

  background-color: transparent;
}

.search:hover + .search-form,
.header__wrap:focus-within > .search-form,
.search-form:hover {
  display: flex;
}

.search-form__field {
  width: 324px;
  height: 48px;
  padding: 14px 16px;
  padding-right: 45px;

  font-size: inherit;
  line-height: 20px;
  font-family: inherit;
  color: var(--basic-extra-dark);

  border: 1px solid var(--basic-neutral);
  border-radius: 4px;

  transition: border-color 0.1s ease-out, outline-offset 0.1s ease-out;
}

.search-form__field::placeholder {
  color: var(--basic-neutral);

  opacity: 1;
}

.search-form__button-reset {
  position: absolute;
  top: 40px;
  right: 29px;

  display: none;
  width: 16px;
  height: 16px;

  background-color: transparent;
  background-image: url("../images/cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  opacity: 0.4;
}

.search-form__field:not(:placeholder-shown) + .search-form__button-reset {
  display: block;
}

.search-form__field:not(:placeholder-shown) {
  outline: none;
}

.search-form__field:hover {
  border-color: var(--basic-extra-dark);
}

.search-form__field:focus {
  outline: 2px solid var(--basic-extra-dark);
  outline-offset: -2px;
}

.search-form__field.invalid {
  border-color: var(--status-error);
}

.search-form__field.invalid:hover {
  outline: 2px solid var(--status-error);
}

.search-form__field:disabled,
.search-form__field.disabled {
  color: rgba(45, 52, 64, 0.65);

  background-color: var(--basic-light);
  border-color: var(--basic-neutral);
  cursor: not-allowed;
}

.header__login {
  position: relative;
  z-index: 2;

  margin-right: 16px;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;

  font-size: 14px;
  line-height: 20px;
  color: var(--basic-extra-dark);
  text-decoration: none;

  background-color: rgba(252, 252, 252, 0.30);
}

.login::before {
  content: "";

  display: block;
  width: 16px;
  height: 16px;
  margin-right: 6px;

  background-image: url("../images/login-black.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.login__popup {
  position: absolute;
  top: 100%;
  right: 16px;
  z-index: 1;

  display: none;
  width: 420px;
  margin-top: 8px;
  padding: 48px;
  padding-bottom: 52px;

  background-color: var(--basic-extra-light);
  border-radius: 4px;
  box-shadow: 0 15px 40px 0 rgba(45, 52, 64, 0.12);
}

.login__popup::before {
  content: "";
  position: absolute;
  top: -22px;
  right: 0;

  display: block;
  width: 100%;
  height: 26px;

  background-color: transparent;
}

.login:hover + .login__popup,
.header__wrap:focus-within > .login__popup,
.login__popup:hover {
  display: flex;
}



.login-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.login-form__name {
  margin-bottom: 32px;
  padding: 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-extra-dark);
}

.login-form__wrap {
  width: 100%;
  margin-bottom: 16px;
}
.login-form__input {
  width: 100%;
  height: 48px;
  padding: 14px 16px;

  font-size: inherit;
  line-height: 20px;
  font-family: inherit;
  color: var(--basic-extra-dark);

  border: 1px solid var(--basic-neutral);
  border-radius: 4px;
}

.login-form__input::placeholder {
  color: var(--basic-neutral);

  opacity: 1;
}





.login-form__input:not(:placeholder-shown) {
  outline: none;
}

.login-form__input:hover {
  border-color: var(--basic-extra-dark);
}

.login-form__input:focus {
  outline: 2px solid var(--basic-extra-dark);
  outline-offset: -2px;
}

.login-form__input.invalid {
  border-color: var(--status-error);
}

.login-form__input.invalid:hover {
  outline: 2px solid var(--status-error);
}

.login-form__input:disabled,
.login-form__input.disabled {
  color: rgba(45, 52, 64, 0.65);

  background-color: var(--basic-light);
  border-color: var(--basic-neutral);
  cursor: not-allowed;
}


.login-form__button {
  margin-top: 16px;
}

.login__help {
  position: absolute;
  bottom: 52px;
  left: 184px;

  margin: 0;
}

.help {
  padding: 0;

  list-style: none;
  font-size: 14px;
  line-height: 20px;
  color: var(--basic-extra-dark);
}

.help__item:not(:last-child) {
  margin-bottom: 4px;
}

.help__link {
  position: relative;

  display: inline-block;

  color: inherit;
  text-decoration: none;

  transition: opacity 0.1s ease-out;
}

.help__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 1px;

  background-color: var(--basic-extra-dark);
}

.help__link:hover {
  opacity: 0.6;
}

.help__link:focus {
  outline: 2px solid var(--basic-extra-dark);
  outline-offset: 2px;
}

.help__link:active {
  opacity: 0.3;
}

.header__cart {
  position: relative;
  z-index: 2;
}

.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;

  font-size: 14px;
  line-height: 20px;
  color: var(--basic-extra-dark);
  text-decoration: none;

  background-color: rgba(252, 252, 252, 0.30);
}

.cart::before {
  content: "";

  display: block;
  width: 16px;
  height: 16px;
  margin-right: 6px;

  background-image: url("../images/cart-black.svg");
  background-repeat: no-repeat;
  background-position: center;
}





.cart__popup {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1;

  margin-top: 8px;
}

.cart-popup {
  display: none;
  width: 441px;
  padding: 48px;

  background-color: var(--basic-extra-light);
  border-radius: 4px;
  box-shadow: 0 15px 40px 0 rgba(45, 52, 64, 0.12);
}

.cart-popup::before {
  content: "";
  position: absolute;
  top: -22px;
  right: 0;

  display: block;
  width: 100%;
  height: 26px;

  background-color: transparent;
}

.cart:hover + .cart-popup,
.header__wrap:focus-within > .cart-popup,
.cart-popup:hover {
  display: block;
}

.cart-popup__title {
  margin-top: 0;
  margin-bottom: 32px;
  padding: 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-extra-dark);
}

.cart-popup__list {
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  padding-bottom: 32px;

  list-style: none;

  border-bottom: 1px solid var(--basic-light);
}

.cart-popup__item {
  display: grid;

  column-gap: 16px;

  grid-template-columns: 46px 148px 87px 16px;
  grid-template-rows: 22px 20px;
  row-gap: 4px;
}

.cart-popup__item:not(:last-child) {
  margin-bottom: 24px;
}

.cart-popup__image-container {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
}



.cart-popup__product-title {
  width: fit-content;
  margin: 0;

  font-weight: 700;
  color: inherit;
  text-decoration: none;

  transition: opacity 0.1s ease-out;

  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.cart-popup__product-title:hover {
  opacity: 0.6;
}

.cart-popup__product-title:focus {
  outline: 2px solid var(--basic-extra-dark);
  outline-offset: 2px;
}

.cart-popup__product-title:active {
  opacity: 0.3;
}

.cart-popup__product-calc {
  margin: 0;

  font-size: 14px;
  line-height: 20px;
  color: var(--basic-neutral);

  grid-column: 2 / 3;
  grid-row: 2 / 3;
}





.cart-popup__product-price {
  align-self: center;
  margin: 0;

  font-weight: 700;
  font-size: 18px;

  grid-column: 3 / 4;
  grid-row: 1 / -1;
}



.cart-popup__product-remove {
  align-self: center;
  width: 16px;
  height: 16px;
  margin: 0;

  background-color: transparent;
  background-image: url(../images/cross.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;

  transition: opacity 0.1s ease-out;

  grid-column: -2 / -1;
  grid-row: 1 / -1;
}

.cart-popup__product-remove:hover {
  opacity: 0.6;
}

.cart-popup__product-remove:focus {
  outline: 2px solid var(--basic-extra-dark);
  outline-offset: 2px;
}

.cart-popup__product-remove:active {
  opacity: 0.3;
}

.cart-popup__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.cart-popup__result {
  margin: 0;
}
.cart-result {
  font-weight: 700;
  font-size: 18px;
  color: var(--basic-extra-dark);
}


.header-link {
  border-radius: 30px;

  transition: background-color 0.1s ease-out, outline-color 0.1s ease-out, outline-offset 0.1s ease-out;
}

.header-link:hover {
  background-color: rgba(252, 252, 252, 0.50);
}

.header-link:focus {
  background-color: rgba(252, 252, 252, 0.50);
  outline: 2px solid var(--basic-extra-dark);
  outline-offset: -2px;
}

.header-link:active {
  background-color: var(--basic-extra-light);
  outline: none;
}

.site-navigation__item:hover .site-navigation__link--catalog,
.site-navigation__item:focus-within .site-navigation__link--catalog,
.header__wrap:hover .search,
.header__wrap:hover .login,
.header__wrap:hover .cart,
.header__wrap:focus-within > .search,
.header__wrap:focus-within > .login,
.header__wrap:focus-within > .cart,
.search:hover,
.login:hover,
.cart:hover {
  color: var(--basic-extra-light);

  background: var(--additional-bright);
}

.site-navigation__item:hover .site-navigation__link--catalog::after,
.site-navigation__item:focus-within .site-navigation__link--catalog::after {
  background-image: url("../images/arrow-menu-white.svg");
  transform: scale(-1);
}

.header__wrap:hover .search::after,
.header__wrap:focus-within > .search::after,
.search:hover::after {
  background-image: url("../images/search-white.svg");
}

.header__wrap:hover .login::before,
.header__wrap:focus-within > .login::before,
.login:hover::before {
  background-image: url("../images/login-white.svg");
}

.header__wrap:hover .cart::before,
.header__wrap:focus-within > .cart::before,
.cart:hover::before {
  background-image: url("../images/cart-white.svg");
}

.site-navigation__link--catalog:focus,
.header__wrap:hover .search:focus,
.header__wrap:hover .login:focus,
.header__wrap:hover .cart:focus,
.header__wrap:focus-within > .search,
.header__wrap:focus-within > .login,
.header__wrap:focus-within > .cart {
  background-color: var(--additional-bright);
  outline: 2px solid var(--basic-extra-dark);
  outline-offset: -2px;
  opacity: 1;
}

.site-navigation__link--catalog:hover,
.search:hover,
.login:hover,
.cart:hover {
  outline: none;
  opacity: 0.6;
}

.site-navigation__item:hover .site-navigation__link--catalog:active,
.header__wrap:hover .search:active,
.header__wrap:hover .login:active,
.header__wrap:hover .cart:active {
  outline: none;
  opacity: 0.3;
}

.cart-popup--empty {
  width: 288px;
  height: 156px;
  padding: 48px 0;
}

.cart-popup__title--empty {
  display: none;
}

.cart-popup--empty .cart-popup__title,
.cart-popup--empty .cart-popup__list,
.cart-popup--empty .cart-popup__footer {
  display: none;
}

.cart-popup--empty .cart-popup__title--empty {
  display: block;
  margin: 0;

  text-align: center;
}



.main {
  flex-grow: 1;
}

.main__hero-slider {
  margin: 0 auto;
  margin-bottom: 80px;
}
.hero-slider {
  width: 1170px;
}

.hero-slider__content-wrap {
  display: flex;
  min-height: 530px;
}

.hero-slider__text-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 520px;
  margin: 0;
  margin-right: auto;
  padding: 70px;
  padding-right: 0;

  list-style: none;
}

.hero-slider__text-item {
  display: none;
}

.hero-slider__text-item.active {
  display: block;
}

.hero-slider__title {
  margin: 24px 0;

  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  color: var(--basic-extra-dark);
}

.hero-slider__description {
  margin-top: 0;
  margin-bottom: 48px;

  font-size: 18px;
  line-height: 24px;
  color: var(--basic-extra-dark);
}



.hero-slider__image-wrapper {
  display: flex;
  align-items: center;
  width: 630px;
  padding-top: 21px;
}

.hero-slider__general-image {
  position: relative;

  width: 352px;
  margin-right: 37px;
}

.button--prev {
  position: absolute;
  top: 237px;
  left: 2px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  padding: 0;

  outline-offset: -2px;
  transform: rotate(90deg);
}

.button--next {
  position: absolute;
  top: 237px;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  padding: 0;

  outline-offset: -2px;
  transform: rotate(-90deg);
}

.button--prev::before,
.button--next::before {
  content: "";

  display: block;
  width: 16px;
  height: 16px;

  background-image: url("../images/arrow-menu-white.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.button--prev:hover::before,
.button--next:hover::before,
.button--prev:focus::before,
.button--next:focus::before,
.button--prev:active::before,
.button--next:active::before {
  background-image: url("../images/arrow-menu-black.svg");
}

.hero-slider__image-list {
  position: relative;

  display: flex;
  align-items: center;
  width: 312px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;

  list-style-type: none;
}

.hero-slider__image-list::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;

  width: 312px;
  height: 312px;

  border-radius: 50%;
  transform: translateY(-50%);
}

.page--pink .hero-slider__image-list::before {
  background-color: var(--additional-extra-light);
}

.page--blue .hero-slider__image-list::before {
  background-color: var(--additional-light-blue);
}

.page--yellow .hero-slider__image-list::before {
  background-color: var(--additional-light-yellow);
}

.hero-slider__image-item {
  display: none;
  justify-content: center;
  align-items: center;
  width: 312px;
}

.hero-slider__image-item.active {
  display: flex;
}



.hero-slider__small-image-list {
  position: relative;

  display: flex;
  align-items: center;
  width: 100px;
  height: 159px;
  margin: 0;
  padding: 0;
  padding-top: 9px;
  overflow: hidden;

  list-style: none;

  opacity: 0.4;
}

.hero-slider__small-image-list:not(:last-of-type) {
  margin-right: 41px;
}

.hero-slider__small-image-list::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;

  width: 100px;
  height: 100px;

  border-radius: 50%;
  transform: translateY(-50%);
}

.page--pink .hero-slider__small-image-list::before {
  background-color: var(--additional-extra-light);
}

.page--blue .hero-slider__small-image-list::before {
  background-color: var(--additional-light-blue);
}

.page--yellow .hero-slider__small-image-list::before {
  background-color: var(--additional-light-yellow);
}

.hero-slider__small-image-item {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 150px;
}

.hero-slider__small-image-item.active {
  display: flex;
}



.slider-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}



.slider-pagination {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-pagination__item:not(:last-child) {
  margin-right: 8px;
}


.slider-pagination-button {
  width: 12px;
  height: 12px;
  padding: 0;

  background-color: var(--basic-extra-light);
  border: 1px solid var(--basic-extra-light);
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.3;
}

.slider-pagination-button:focus {
  background-color: rgba(252, 252, 252, 0.30);
  border-color: var(--basic-extra-dark);
  outline: none;
  opacity: 1;
}

.slider-pagination-button:hover {
  background-color: rgba(252, 252, 252, 0.30);
  border-color: var(--basic-extra-light);
  opacity: 1;
}

.slider-pagination-button:active {
  background-color: var(--basic-extra-light);
  opacity: 0.5;
}

.active .slider-pagination-button,
.active .slider-pagination-button:focus {
  background-color: var(--basic-extra-light);
  border-color: var(--basic-extra-light);
  cursor: auto;
  opacity: 1;

  pointer-events: none;
}



.social {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  max-width: 160px;
  margin: 0;
  margin-bottom: -16px;
  padding: 0;

  list-style: none;
}

.social__item {
  margin-bottom: 16px;
}

.social__item:not(:last-child) {
  margin-right: 16px;
}

.social__link {
  position: relative;

  display: flex;
  width: 24px;
  height: 24px;

  border-radius: 50%;
  outline: 2px solid rgba(252, 252, 252, 0.30);

  transition: outline-color 0.1s ease-out;
}

.social__link::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;

  width: 90%;
  height: 90%;

  background-color: transparent;
  border-radius: 50%;
  transform: translate(-50%, -50%);

  transition: background-color 0.1s ease-out, opacity 0.1s ease-out;
}

.social__link:hover::after,
.social__link:active::after,
.social__link:focus::after {
  background-color: var(--basic-extra-dark);
}

.social__link:focus {
  outline-color: var(--basic-extra-dark);
  outline-offset: 0;
}

.social__link:hover {
  outline-color: rgba(252, 252, 252, 0.30);
}

.social__link:active {
  outline-color: rgba(252, 252, 252, 0.30);
  opacity: 0.5;
}

.main__gifts {
  margin: 0 auto;
  margin-bottom: 81px;
}

.gifts {
  display: grid;
  align-items: start;
  width: 1170px;

  gap: 30px;
  grid-template-columns: repeat(2, 1fr);
}

.gifts__title {
  margin-top: 0;
  margin-bottom: 25px;

  grid-column: 1 / -1;
}

.title {
  max-width: 100%;

  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  color: var(--basic-extra-dark);
}



.gift {
  width: 570px;
  min-height: 268px;
  padding: 36px;
  padding-right: 200px;

  background-color: var(--additional-neutral);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 220px;
  border-radius: 16px;
}

.gift--raspberries {
  background-image: url("../images/gifts/raspberries-gift.png");
}

.gift--marshmallows {
  background-image: url("../images/gifts/marshmallows-gift.png");
}

.gift__title {
  margin: 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-extra-dark);
}

.gift__description {
  margin: 28px 0;

  color: var(--basic-extra-dark);
}



.main__popular {
  margin: 0 auto;
  margin-bottom: 80px;
}

.popular {
  width: 1170px;
}

.popular__title {
  margin-top: 0;
  margin-bottom: 56px;
}
.popular__list {
  display: grid;
  margin: 0;
  padding: 0;

  list-style: none;

  gap: 30px;
  grid-template-columns: repeat(4, 270px);
}


.product {
  padding: 0 40px 24px 40px;

  background-image: linear-gradient(to bottom, transparent 168px, var(--basic-extra-light) 168px);
  border-radius: 0 0 8px 8px;
}

.product__image-container {
  position: relative;

  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.product__image-container:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -40px;
  z-index: -1;

  width: 270px;
  height: 117px;

  background-color: var(--basic-extra-light);
  border-radius: 8px 8px 0 0;
}

.product__image {
  border-radius: 50%;
  outline: 4px solid transparent;
  outline-offset: -4px;

  transition: outline-offset 0.1s ease-out, outline-color 0.1s ease-out;
}

.product__image-container:hover .product__image {
  outline: 4px solid var(--basic-extra-light);
  outline-offset: 0;
}

.product__image-container:focus {
  outline: none;
}

.product__image-container:focus .product__image {
  outline: 2px solid var(--basic-extra-dark);
  outline-offset: 2px;
}

.product__image-container:active .product__image {
  outline: 4px solid transparent;
  outline-offset: -4px;
}

.product__title {
  margin-top: 16px;
  margin-bottom: 8px;

  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: var(--basic-extra-dark);
}

.product__link {
  color: inherit;
  text-decoration: none;

  transition: opacity 0.1s ease-out;
}

.product__link:focus {
  outline: 2px solid var(--basic-extra-dark);
  outline-offset: 2px;
}

.product__link:hover {
  outline: none;
  opacity: 0.6;
}

.product__link:active {
  outline: none;
  opacity: 0.3;
}

.product__description {
  margin-top: 8px;
  margin-bottom: 16px;

  text-align: center;
}

.product__footer {
  display: flex;
  justify-content: space-between;
}



.price {
  margin: auto 0;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: var(--basic-extra-dark);
}





.button--add-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  padding: 0;

  border: 2px solid var(--additional-extra-bright);
  outline: none;
  box-shadow: none;

  transition: fill 0.1s ease-out;

  fill: var(--basic-extra-light);
}

.button--add-cart:hover {
  outline: none;
  box-shadow: none;

  fill: var(--basic-extra-dark);
}

.button--add-cart:focus {
  border-color: var(--basic-extra-dark);
  outline: none;
  box-shadow: none;

  fill: var(--basic-extra-light);
}

.button--add-cart:active {
  outline: none;
  box-shadow: none;

  fill: var(--basic-extra-dark);
}

.button--add-cart:disabled,
.button--add-cart.disabled {
  border-color: var(--basic-neutral);
  outline: none;
  box-shadow: none;

  fill: var(--basic-dark);
}

.main__advantages {
  margin: 0 auto;
  margin-bottom: 80px;
}

.advantages {
  width: 1170px;
  padding: 24px;

  background-image: url("../images/advanages/advantages-background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 16px;
}

.advantages__wrap {
  padding: 56px 40px;

  background-color: var(--basic-white);
  border-radius: 16px;
}

.advantages__title {
  margin-top: 0;
  margin-bottom: 56px;
}

.advantages__list {
  display: grid;
  margin: 0;
  padding: 0;

  list-style: none;

  gap: 40px 32px;
  grid-template-columns: repeat(2, 505px);
}

.advantages__item {
  display: grid;

  gap: 16px;
  grid-template-columns: 48px 1fr;
}

.advantages__item::before {
  content: "";

  display: block;
  width: 48px;
  height: 48px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 32px 32px;
  border: 2px solid var(--basic-extra-dark);
  border-radius: 50%;
}

.item--icecream::before {
  background-image: url("../images/advanages/ice-cream.svg");
}
.item--cow::before {
  background-image: url("../images/advanages/cow.svg");
}
.item--nature::before {
  background-image: url("../images/advanages/nature.svg");
}
.item--temperature::before {
  background-image: url("../images/advanages/temperature.svg");
}



.main__blog {
  margin: 0 auto;
  margin-bottom: 80px;
}

.blog {
  display: grid;
  align-items: start;
  width: 1170px;

  gap: 30px;
  grid-template-columns: repeat(2, 570px);
}



.article-preview {
  min-height: 224px;
  padding: 32px;

  background-image: url("../images/arcticle-background.jpg");
  background-repeat: no-repeat;
  background-position: center left;
  background-size: 642px;
  border-radius: 16px;
}

.article-preview__category {
  display: inline-block;
  margin-bottom: 12px;

  line-height: 20px;
  color: inherit;
  text-decoration: none;
}

.article-preview__title {
  width: 303px;
  margin: 0;

  font-size: 24px;
  line-height: 30px;
  color: var(--basic-extra-dark);
}

.article-preview__link {
  color: inherit;
  text-decoration: none ;
}



.subscribe {
  padding: 6px;

  background-image: url("../images/subscribe-background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 16px;
}

.subscribe__wrap {
  height: 100%;
  padding: 27px 26px;

  background-color: var(--basic-white);
  border-radius: 16px;
}

.subscribe__description {
  margin-top: 0;
  margin-bottom: 43px;
}

.subscribe__form {
  display: flex;
  align-items: center;
}

.subscribe__input-wrap {
  margin-right: 18px;
}

.subscribe__input {
  width: 332px;
  height: 48px;
  padding: 14px 16px;

  font-size: inherit;
  line-height: 20px;
  font-family: inherit;
  color: var(--basic-extra-dark);

  border: 1px solid var(--basic-neutral);
  border-radius: 4px;
}

.subscribe__input::placeholder {
  color: var(--basic-neutral);

  opacity: 1;
}

.subscribe__input:not(:placeholder-shown) {
  outline: none;
}

.subscribe__input:hover {
  border-color: var(--basic-extra-dark);
}

.subscribe__input:focus {
  outline: 2px solid var(--basic-extra-dark);
  outline-offset: -2px;
}

.subscribe__input.invalid {
  border-color: var(--status-error);
}

.subscribe__input.invalid:hover {
  outline: 2px solid var(--status-error);
}

.subscribe__input:disabled,
.subscribe__input.disabled {
  color: rgba(45, 52, 64, 0.65);

  background-color: var(--basic-light);
  border-color: var(--basic-neutral);
  cursor: not-allowed;
}

.subscribe__button {
  width: 152px;
  height: 44px;
}

.main__delivery {
  margin: 0 auto;
  margin-bottom: 80px;
}

.delivery {
  display: flex;
  width: 1170px;
  padding: 64px;

  background-image: url("../images/delivery-background.jpg");
  background-repeat: no-repeat;
  background-position: center left;
  background-size: 1225px;
  border-radius: 16px;
}

.delivery__column {
  width: 500px;
}

.delivery__column:not(:last-child) {
  margin-right: 42px;
}

.column-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 36px;
}

.delivery__title {
  margin-top: 5px;
  margin-bottom: 24px;

  text-align: left;
}
.delivery__description {
  margin: 0;
}

.column-right {
  padding: 40px;

  background-color: var(--basic-extra-light);
  border-radius: 8px;
  box-shadow: 0 15px 40px 0 rgba(45, 52, 64, 0.12);
}

.delivery__form-description {
  max-width: 380px;
  margin-top: 0;
  margin-bottom: 32px;
}



.delivery-form {
  display: flex;
  flex-wrap: wrap;
}

.delivery-form__group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.delivery-form__label-wrap {
  position: relative;

  display: flex;
  align-items: center;
}

.delivery-form__input-title,
.delivery-form__label-wrap {
  margin-bottom: 8px;
}

.delivery-form__label-wrap .delivery-form__input-title {
  margin-bottom: 0;
}


.input-title {
  font-weight: 700;
  line-height: 20px;
  color: var(--basic-extra-dark);
}

.delivery-form__tooltip {
  margin-left: 4px;
}

.tooltip {
  position: relative;
}

.tooltip__button {
  position: relative;
  z-index: 2;

  display: block;
  width: 14px;
  height: 14px;
  padding: 0;

  background-color: transparent;
  background-image: url("../images/tooltip-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;

  transition: opacity 0.1s ease-out;
}

.tooltip__button:hover {
  opacity: 0.6;
}

.tooltip__button:focus {
  outline: 2px solid var(--basic-extra-dark);
  outline-offset: 2px;
}

.tooltip__button:active {
  opacity: 0.3;
}


.tooltip__text {
  position: absolute;
  top: -12px;
  left: 23px;

  display: none;
  width: max-content;
  min-width: fit-content;
  max-width: 164px;
  min-height: 36px;
  margin: 0;
  padding: 10px 8px;

  font-size: 12px;
  line-height: 16px;

  background-color: var(--basic-white);
  border: 1px solid var(--basic-neutral);
  border-radius: 1px;
  box-shadow: 0 4px 8px rgba(194, 194, 194, 0.20);
}

.tooltip__text::before {
  content: "";
  position: absolute;
  top: 0;
  left: -14px;
  z-index: 1;

  display: block;
  width: 14px;
  height: 100%;

  background-color: transparent;
  background-image: url("../images/tooltip-tail.svg");
  background-repeat: no-repeat;
  background-position: top 11px right 0;
  background-size: 7px 14px;
}

.tooltip__button:hover + .tooltip__text,
.tooltip__text:hover,
.tooltip__button:focus + .tooltip__text {
  display: block;
}



.input-date {
  width: 117px;
  height: 48px;
  margin-right: 16px;
  padding: 14px 16px;

  font-size: inherit;
  line-height: 20px;
  font-family: inherit;
  color: var(--basic-extra-dark);

  border: 1px solid var(--basic-neutral);
  border-radius: 4px;
}

.input-phone {
  width: 287px;
  height: 48px;
  padding: 14px 16px;

  font-size: inherit;
  line-height: 20px;
  font-family: inherit;
  color: var(--basic-extra-dark);

  border: 1px solid var(--basic-neutral);
  border-radius: 4px;
}

.input-address {
  width: 420px;
  height: 48px;
  padding: 14px 16px;

  font-size: inherit;
  line-height: 20px;
  font-family: inherit;
  color: var(--basic-extra-dark);

  border: 1px solid var(--basic-neutral);
  border-radius: 4px;
}

.input-date::placeholder,
.input-phone::placeholder,
.input-address::placeholder {
  color: var(--basic-neutral);

  opacity: 1;
}

.input-date:not(:placeholder-shown),
.input-phone:not(:placeholder-shown),
.input-address:not(:placeholder-shown) {
  outline: none;
}

.input-date:hover,
.input-phone:hover,
.input-address:hover {
  border-color: var(--basic-extra-dark);
}

.input-date:focus,
.input-phone:focus,
.input-address:focus {
  outline: 2px solid var(--basic-extra-dark);
  outline-offset: -2px;
}

.input-date.invalid,
.input-phone.invalid,
.input-address.invalid {
  border-color: var(--status-error);
}

.input-date.invalid:hover,
.input-phone.invalid:hover,
.input-address.invalid:hover {
  outline: 2px solid var(--status-error);
}

.input-date:disabled,
.input-phone:disabled,
.input-address:disabled,
.input-date.disabled,
.input-phone.disabled,
.input-address.disabled {
  color: rgba(45, 52, 64, 0.65);

  background-color: var(--basic-light);
  border-color: var(--basic-neutral);
  cursor: not-allowed;
}

.delivery-form__button {
  min-width: 152px;
  margin: 12px auto 2px auto;
}

.main__contacts {
  margin: 0 auto;
}

.contacts {
  width: 1170px;
  padding: 64px;

  background-image: url("../images/contact-background.jpg");
  background-repeat: no-repeat;
  background-position: center right;
  background-size: cover;
  border-radius: 16px;
}

.contacts__wrap {
  width: 343px;
  padding: 40px;

  background-color: var(--basic-extra-light);
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(45, 52, 64, 0.12);
}

.contacts__title {
  margin-top: 0;
  margin-bottom: 12px;

  font-weight: 400;
  font-size: 16px;
}

.contacts__address {
  margin-bottom: 24px;

  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: var(--basic-extra-dark);
}

.contacts__phone {
  display: block;
  width: fit-content;

  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: var(--basic-extra-dark);
  text-decoration: none;

  transition: opacity 0.1s ease-out;
}

.contacts__phone:focus {
  outline: 2px solid var(--basic-extra-dark);
  outline-offset: 2px;
}

.contacts__phone:hover {
  outline: none;
  opacity: 0.6;
}

.contacts__phone:active {
  outline: none;
  opacity: 0.3;
}

.contacts__work-time {
  display: inline-block;
  margin-bottom: 30px;

  font-size: 14px;
  line-height: 20px;
}

.contacts__button {
  margin-bottom: 2px;
}


.page__footer {
  margin: 0 auto;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 1170px;
  padding: 48px 0;
}





.links-cloud {
  display: grid;
  align-content: start;
  margin: 0;
  padding-left: 24px;

  list-style: none;

  gap: 8px 24px;
  grid-template-columns: repeat(2, auto);
}

.links-cloud__item {
  width: fit-content;

  font-size: 14px;
  line-height: 20px;
  color: var(--basic-extra-dark);
}
.links-cloud__link {
  color: inherit;
  text-decoration: none;
}

.item--favorite-client {
  position: relative;

  font-weight: 700;
}

.item--favorite-client .links-cloud__link::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -24px;

  display: block;
  width: 16px;
  height: 16px;

  background-image: url("../images/heart-icon.svg");
  background-repeat: no-repeat;
  background-position: center;

  transition: opacity 0.1s ease-out;
}

.links-cloud__link:focus {
  outline: none;
}

.links-cloud__item:focus-within {
  outline: 2px solid var(--basic-extra-dark);
  outline-offset: 2px;
}

.links-cloud__item:hover {
  outline: none;
  opacity: 0.6;
}

.links-cloud__item:active {
  outline: none;
  opacity: 0.3;
}


.footer__academy-logo {
  display: flex;
  width: fit-content;
  margin-bottom: 14px;
}



.footer__copyright {
  margin: 0;
}
.copyright {
  font-size: 12px;
  line-height: 16px;
  color: var(--basic-extra-dark);
}

.copyright__link {
  position: relative;

  color: inherit;
  text-decoration: none;
}

.copyright__link::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;

  display: block;
  width: 100%;
  height: 1px;

  background-color: var(--basic-extra-dark);
  opacity: 0.5;
}

.footer__academy-logo:focus,
.copyright__link:focus {
  outline: 2px solid var(--basic-extra-dark);
  outline-offset: 2px;
}

.footer__academy-logo:hover,
.copyright__link:hover {
  outline: none;
  opacity: 0.6;
}

.footer__academy-logo:active,
.copyright__link:active {
  outline: none;
  opacity: 0.3;
}

.catalog {
  display: grid;
  margin: 0;
  padding: 0;

  list-style: none;

  gap: 40px 30px;
  grid-template-columns: repeat(4, 270px);
}

/*--------------------каталог----------------------*/

.catalog-page {
  padding-top: 32px;
}

.breadcrumds {
  width: 1170px;
  margin: 0 auto;
}

.breadcrumds__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;
}

.breadcrumds__item {
  position: relative;

  display: flex;
  align-items: center;
  margin-right: 8px;
  margin-bottom: 16px;

  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: var(--basic-extra-dark);
}

.breadcrumds__item:not(:last-child)::after {
  content: "";

  width: 12px;
  height: 12px;
  margin-left: 8px;

  background-image: url("../images/breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.breadcrumds__link {
  color: inherit;
  text-decoration: none;
}

.breadcrumds__link:hover {
  opacity: 0.6;
}

.breadcrumds__link:focus {
  outline: 2px solid var(--basic-extra-dark);
  outline-offset: 2px;
}

.breadcrumds__link:active {
  opacity: 0.3;
}

.breadcrumds__item--current-page .breadcrumds__link {
  pointer-events: none;
}

.breadcrumds__item--current-page::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 1px;

  background-color: var(--basic-extra-dark);
}

.catalog-page__title {
  width: 1170px;
  margin: 0 auto;
  margin-bottom: 40px;

  text-align: left;
}

.catalog-page__filter-catalog {
  margin: 0 auto;
  margin-bottom: 46px;
}

.filter-catalog {
  width: 1170px;
}



.filter-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  margin-top: -16px;
}

.filter-form__group {
  margin: 0;
  margin-top: 15px;
  margin-right: 24px;
  padding: 0;

  border: none;
}

.filter-form__group:last-of-type {
  margin-right: 18px;
}

.filter-form__title {
  margin-bottom: 8px;
  margin-left: 16px;
  padding: 0;

  font-size: 14px;
  line-height: 20px;
  color: var(--basic-extra-dark);
}

.filter-form__select {
  min-width: 196px;
  padding: 8px 16px;
  padding-right: 42px;

  font-size: 14px;
  line-height: 20px;
  font-family: inherit;
  color: var(--basic-extra-dark);

  background-color: rgba(252, 252, 252, 0.30);
  background-image: url(../images/arrow-menu-black.svg);
  background-repeat: no-repeat;
  background-position: right 13px center;
  background-size: 16px 16px;
  border: none;
  border-radius: 50px;
  cursor: pointer;

  -webkit-appearance: none;
          appearance: none;
}

.filter-form__select:hover {
  background-color: rgba(252, 252, 252, 0.50);
}

.filter-form__select:focus {
  background-color: rgba(252, 252, 252, 0.40);
  outline: 2px solid var(--basic-extra-light);
  outline-offset: -2px;
}

.filter-form__wrap {
  display: flex;
  flex-wrap: wrap;
  max-width: 1170px;
  padding: 9px 24px;

  background-color: rgba(252, 252, 252, 0.30);
  border-radius: 50px;
}

.filter-form__label {
  font-size: 14px;
  line-height: 20px;
  color: var(--basic-extra-dark);
}

.filter-form__label:not(:last-of-type) {
  margin-right: 17px;
}

.filter-form__label-text {
  display: flex;
  align-items: center;
}

.filter-form__label-text::before {
  content: "";

  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 8px;

  background-repeat: no-repeat;
  background-position: center;
}



.range {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 196px;
  height: 36px;
  padding: 10px 16px;

  background-color: rgba(252, 252, 252, 0.30);
  border-radius: 50px;
}

.range__scale {
  position: relative;

  width: 100%;
  height: 2px;

  background-color: rgba(86, 92, 102, 0.3);
  border-radius: 50px;
}

.range__bar {
  position: absolute;

  height: 2px;

  background-color: var(--basic-dark);
}

.range__toggle {
  position: absolute;

  width: 16px;
  height: 16px;
}

.toggle--min {
  top: -7px;
  left: -8px;
}

.toggle--max {
  top: -7px;
  right: -8px;
}

.toggle__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  background-color: var(--basic-extra-dark);
  border: none;
  border-radius: 50%;
  cursor: pointer;

  transition: background-color 0.1s ease-out;
}

.toggle__button::after {
  content: "";

  width: 4px;
  height: 4px;

  background-color: var(--basic-extra-light);
  border-radius: 50%;

  transition: background-color 0.1s ease-out;
}

.toggle__button:focus {
  background-color: var(--basic-extra-light);
  outline: 2px solid var(--basic-extra-dark);
}

.toggle__button:focus::after {
  background-color: var(--basic-extra-dark);
}

.toggle__button:hover {
  background-color: var(--basic-extra-light);
  outline: none;
}

.toggle__button:hover::after {
  background-color: var(--basic-extra-dark);
}

.toggle__button:active {
  background-color: var(--basic-extra-dark);
  outline: none;
}

.toggle__button:active::after {
  background-color: var(--basic-extra-dark);
}

.filter-form__radio + .filter-form__label-text::before {
  background-image: url(../images/radio-empty.svg);
}

.filter-form__label:hover .filter-form__radio + .filter-form__label-text::before,
.filter-form__radio:focus + .filter-form__label-text::before {
  background-image: url(../images/radio-empty-hover.svg);
}

.filter-form__radio:checked + .filter-form__label-text::before {
  background-image: url(../images/radio-checked.svg);
}

.filter-form__label:hover .filter-form__radio:checked + .filter-form__label-text::before,
.filter-form__radio:focus:checked + .filter-form__label-text::before {
  background-image: url(../images/radio-checked-hover.svg);
}

.filter-form__radio:disabled + .filter-form__label-text::before,
.filter-form__radio.disabled + .filter-form__label-text::before,
.filter-form__label:hover .filter-form__radio:disabled + .filter-form__label-text::before,
.filter-form__label:hover .filter-form__radio.disabled + .filter-form__label-text::before {
  background-image: url(../images/radio-empty.svg);
  opacity: 0.5;
}

.filter-form__radio:disabled:checked + .filter-form__label-text::before,
.filter-form__radio.disabled:checked + .filter-form__label-text::before,
.filter-form__label:hover .filter-form__radio:disabled:checked + .filter-form__label-text::before,
.filter-form__label:hover .filter-form__radio.disabled:checked + .filter-form__label-text::before {
  background-image: url(../images/radio-checked.svg);
  opacity: 0.5;
}

.filter-form__checkbox + .filter-form__label-text::before {
  background-image: url(../images/checkbox-empty.svg);
}

.filter-form__label:hover .filter-form__checkbox + .filter-form__label-text::before,
.filter-form__checkbox:focus + .filter-form__label-text::before {
  background-image: url(../images/checkbox-empty-hover.svg);
}

.filter-form__checkbox:checked + .filter-form__label-text::before {
  background-image: url(../images/checkbox-checked.svg);
}

.filter-form__label:hover .filter-form__checkbox:checked + .filter-form__label-text::before,
.filter-form__checkbox:focus:checked + .filter-form__label-text::before {
  background-image: url(../images/checkbox-checked-hover.svg);
}

.filter-form__checkbox:disabled + .filter-form__label-text::before,
.filter-form__checkbox.disabled + .filter-form__label-text::before,
.filter-form__label:hover .filter-form__checkbox:disabled + .filter-form__label-text::before,
.filter-form__label:hover .filter-form__checkbox.disabled + .filter-form__label-text::before {
  background-image: url(../images/checkbox-empty.svg);
  opacity: 0.5;
}

.filter-form__checkbox:disabled:checked + .filter-form__label-text::before,
.filter-form__checkbox.disabled:checked + .filter-form__label-text::before,
.filter-form__label:hover .filter-form__checkbox:disabled:checked + .filter-form__label-text::before,
.filter-form__label:hover .filter-form__checkbox.disabled:checked + .filter-form__label-text::before {
  background-image: url(../images/checkbox-checked.svg);
  opacity: 0.5;
}

.filter-catalog__button {
  align-self: flex-end;
  min-width: 185px;
  margin-top: 16px;
}

.catalog-page__catalog-result {
  margin: 0 auto;
  margin-bottom: 16px;
}

.catalog-result {
  width: 1170px;
}

.main__pagination {
  margin: 0 auto;
  margin-bottom: 40px;
}

.pagination {
  display: flex;
  align-items: center;
  width: 1170px;
  padding: 41px 0;
}

.pagination__button {
  margin-right: auto;
  margin-left: 487px;
}



.pagination__container {
  position: relative;

  padding: 0 24px;
}

.pagination-button {
  position: absolute;
  top: 50%;

  width: 16px;
  height: 16px;

  background-image: url("../images/arrow-menu-black.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform: translateY(-50%);

  transition: opacity 0.1s ease-out;
}

.pagination-button--prev {
  left: 0;

  transform: translateY(-50%) rotate(90deg);
}

.pagination-button--next {
  right: 0;

  transform: translateY(-50%) rotate(-90deg);
}

.pagination-button:hover {
  opacity: 0.6;
}

.pagination-button:focus {
  outline: 2px solid var(--basic-extra-dark);
  outline-offset: 2px;
}

.pagination-button:active {
  opacity: 0.3;
}

.pagination-button--no-pages {
  cursor: not-allowed;
  opacity: 0.3;

  pointer-events: none;
}

.pagination__list {
  display: flex;
  flex-wrap: wrap;
  max-width: 168px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination__item {
  line-height: 20px;
  color: var(--basic-extra-dark);
}

.pagination__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 24px;
  min-height: 24px;
  padding: 2px 6px;

  color: inherit;
  text-decoration: none;

  border-radius: 50px;

  transition: background-color 0.1s ease-out, outline-color 0.1s ease-out, outline-offset 0.1s ease-out;
}

.pagination__link:focus {
  background-color: rgba(252, 252, 252, 0.50);
  outline: 1px solid var(--basic-extra-dark);
  outline-offset: -1px;
}

.pagination__link:hover {
  background-color: rgba(252, 252, 252, 0.50);
  outline: none;
}

.pagination__link:active {
  background-color: rgba(252, 252, 252, 0.50);
  outline: 1px solid var(--basic-extra-light);
  outline-offset: -1px;
}

.pagination__link--current-page {
  background-color: var(--basic-extra-light);
  cursor: not-allowed;

  pointer-events: none;
}

.catalog-footer {
  border-top: 1px solid rgba(252, 252, 252, 0.30);
}

/*--------------------popup-feedback----------------------*/

.popup-feedback {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;

  width: 570px;
  padding: 64px;

  background-color: var(--basic-extra-light);
  border: none;
  border-radius: 8px;
  box-shadow: 0 15px 40px 0 rgba(45, 52, 64, 0.12);
}

.popup-feedback::backdrop {
  background-color: rgba(45, 52, 64, 0.3);
}

.popup-feedback__title {
  margin-top: 0;
  margin-bottom: 32px;

  font-size: 24px;
  line-height: 30px;
  color: var(--basic-extra-dark);
}

.popup-feedback__button-close {
  position: absolute;
  top: 32px;
  right: 32px;

  width: 20px;
  height: 20px;
  padding: 0;

  background-color: transparent;
  background-image: url("../images/cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;

  transition: opacity 0.1s ease-out;
}

.popup-feedback__button-close:hover {
  opacity: 0.6;
}

.popup-feedback__button-close:focus {
  outline: 2px solid var(--basic-extra-dark);
  outline-offset: 2px;
}

.popup-feedback__button-close:active {
  opacity: 0.3;
}



.form-feedback {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-feedback__input-popup {
  margin-bottom: 16px;
}



.input-popup {
  width: 100%;
  height: 48px;
  padding: 14px 16px;

  font-size: inherit;
  line-height: 20px;
  font-family: inherit;
  color: var(--basic-extra-dark);

  border: 1px solid var(--basic-neutral);
  border-radius: 4px;
}

.input-popup::placeholder {
  color: var(--basic-neutral);

  opacity: 1;
}

.input-popup:not(:placeholder-shown) {
  outline: none;
}

.input-popup:hover {
  border-color: var(--basic-extra-dark);
}

.input-popup:focus {
  outline: 2px solid var(--basic-extra-dark);
  outline-offset: -2px;
}

.input-popup.invalid {
  border-color: var(--status-error);
}

.input-popup.invalid:hover {
  outline: 2px solid var(--status-error);
}

.input-popup:disabled,
.input-popup.disabled {
  color: rgba(45, 52, 64, 0.65);

  background-color: var(--basic-light);
  border-color: var(--basic-neutral);
  cursor: not-allowed;
}





.input-popup--text {
  min-height: 149px;
  margin-bottom: 32px;
}

.form-feedback__button {
  align-self: flex-end;
}
